PROJECT_NAME="tStackYts"

# web (フロントエンド)に設定する環境変数
VITE_SERVER_URL=http://localhost:3000

# server (バックエンド)に設定する環境変数
BETTER_AUTH_SECRET=dammyThirtyTwoCharactorYts199632
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001
DATABASE_URL=file:../../local.db
