{
    "name": "tanstack-container-dev",
    "dockerComposeFile": "../infra/compose.yml",
    "service": "dev",
    "workspaceFolder": "/workspace",
    "customizations": {
        "vscode": {
            "extensions": []
        }
    }
}